body,
html { 
  font-family: Shabnam, "Roboto", sans-serif;
  background-color: #f8fafb; 
	margin: 0;
	padding: 0;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
		
	.container{
		height: 100%; 
	}

		.user_card {
			height: 300px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: rgba(255, 255, 255, 0.8);
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 150px;
			width: 150px;
			top: -75px;
			border-radius: 50%;
			background: #ffffff;
			padding: 0px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			/* border: 2px solid white; */
		}
		.form_container {
			margin-top: 100px;
		}
		.login_btn {
			width: 100%;
			background: #0e9266 !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #0e9266 !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
			text-align: right;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #0e9266 !important;
		}
