{% load cas_server %}

{% for error in form.non_field_errors %}
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{error}}
  </div>
{% endfor %}

{% for field in form %}{% if field|is_hidden %}{{field}}{% endif %}{% endfor %}
