{% load static %}

{% block content %}
  <head>
    <title>Beru - Authentication</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href='https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" >

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
  </head>
  <body style="background-image: url({% static 'user/images/lake.jpg' %});">
    <div class="container h-100 cover fixed">
      <div class="d-flex justify-content-center h-100">
        <div class="user_card">
          <div class="d-flex justify-content-center">
            <div class="brand_logo_container">
              <img src="{% static 'user/images/logo300.png' %}" class="brand_logo" alt="Logo">
            </div>
          </div>
          <div class="d-flex justify-content-center form_container">
            <form class="form-signin" method="post" id="login_form" style="margin: auto;"
              {% if post_url %} action="{{post_url}}"{% endif %}>
              {% csrf_token %}
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-phone"></i></span>
                </div>
                <input type="tel" name="phone" class="form-control input_user" value="" placeholder="شماره تلفن" autofocus="autofocus" id="id_phone" required >
              </div>
              {% if auto_submit %}<noscript>{% endif %}
                <button type="submit" name="button" class="btn login_btn">ثبت</button>
              {% if auto_submit %}</noscript>{% endif %}                
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'user/js/main.js' %}"></script>
  </body> 
{% endblock %}
